<div id="background">
 	  <header class="cf">
 	  	<div class="wrapper_wide">
	  	<a href="#" id="logo">Hub Mentors</a>
	  	<nav>
	  		<ul>
	  			<li><a href="#"></a>Explore</li>
	  			<li><a href="#"></a>Sign In</li>
	  			<li><a href="#"></a>Start Mentoring</li>
	  		</ul>
	  	</nav>
	  	</div>
      </header>
	  <div class="wrapper_skinny">
	      <h1>Mentor the World <br> while on holiday!</h1>
		  <a href="#" class="button button_highlight">Start Mentoring</a>
		  <a href="#" class="button button_white">How it works</a>
	  </div>
  </div>
