  <div id="background">
   <header class="cf">
  	<div class="wrapper_wide">
 	<a href="#" id="logo">Hub Mentors</a>
  <nav>
 	<ul>
	<li><a href="#"></a>Explore</li>
        <%= link_to "Sign In", new_mentor_session_path %>
        <%= link_to "Start Mentoring", new_mentor_registration_path, class: "button button_highlight" %>
        </ul>
  </nav>
  </div>
   </header>
   <div class="wrapper_skinny">
    <h1>Mentor the World <br>-and catch a holiday!</h1>
    <%= link_to "Start Mentoring", new_mentor_registration_path, class: "button button_highlight" %>
    <%= link_to "How it works", how_index_path, class: "button button_white" %>
  </div>
  </div>
